<!--MaxConnections?: number;-->
<!--MaxUploadSlots?: number;-->
<!--MaxUploadSpeed?: number;-->
<!--MaxDownloadSpeed?: number;-->
<!--PrioritizeFirstLastPieces?: boolean;-->
<!--PreAllocateStorage?: boolean; // compact_allocation for v1-->
<!--DownloadLocation?: string;-->
<!--AutoManaged?: boolean;-->
<!--StopAtRatio?: boolean;-->
<!--StopRatio?: number;-->
<!--RemoveAtRatio?: number;-->
<!--MoveCompleted?: boolean;-->
<!--MoveCompletedPath?: string;-->
<!--AddPaused?: boolean;-->

<p-accordion>
  <p-accordion-panel value="0">
    <p-accordion-header>Torrent Options</p-accordion-header>
    <p-accordion-content>
      <div class="grid p-fluid">
        <div class="field col-12 md:col-3">
          <label for="o-maxDownloadSpeed">Max Download Speed</label>
          <p-inputNumber inputId="o-maxDownloadSpeed" [(ngModel)]="config.MaxDownloadSpeed" [min]="-1"
                         placeholder="KB/s"></p-inputNumber>
        </div>

        <div class="field col-12 md:col-3">
          <label for="o-maxUploadSpeed">Max Upload Speed</label>
          <p-inputNumber inputId="o-maxUploadSpeed" [(ngModel)]="config.MaxUploadSpeed" [min]="-1"
                         placeholder="KB/s"></p-inputNumber>
        </div>
      </div>

      <div class="grid p-fluid">
        <div class="field-checkbox col-12 md:col-3">
          <p-checkbox inputId="o-addPaused" binary="true" [(ngModel)]="config.AddPaused">
          </p-checkbox>
          <label for="o-addPaused">Add Paused</label>
        </div>

        <div class="field col-12 md:col-3">
          <label for="o-maxConnections">Max Connections</label>
          <p-inputNumber inputId="o-maxConnections" [(ngModel)]="config.MaxConnections">
          </p-inputNumber>
        </div>

        <div class="field col-12 md:col-3">
          <label for="o-maxUploadSlots">Max Upload Slots</label>
          <p-inputNumber inputId="o-maxUploadSlots" [(ngModel)]="config.MaxUploadSlots">
          </p-inputNumber>
        </div>

        <div class="field-checkbox col-12 md:col-3">
          <p-checkbox inputId="o-firstLastPieces" binary="true" [(ngModel)]="config.PrioritizeFirstLastPieces">
          </p-checkbox>
          <label for="o-firstLastPieces">Prioritise First and Last Pieces</label>
        </div>

        <div class="field-checkbox col-12 md:col-3">
          <p-checkbox inputId="o-preAllocate" binary="true" [(ngModel)]="config.PreAllocateStorage">
          </p-checkbox>
          <label for="o-preAllocate">Pre-Allocate Storage</label>
        </div>

      </div>
      <div class="grid p-fluid">
        <div class="field-checkbox col-12 md:col-3">
          <p-checkbox inputId="o-stopAtRatio" binary="true" [(ngModel)]="config.StopAtRatio"
                      (ngModelChange)="unsetFields($event, 'StopAtRatio', 'StopRatio', 'RemoveAtRatio')">
          </p-checkbox>
          <label for="o-stopAtRatio">Stop At Ratio</label>

        </div>

        <div class="field col-12 md:col-3">
          <label for="o-stopRatio">Stop Ratio</label>
          <p-inputNumber inputId="o-stopRatio" [(ngModel)]="config.StopRatio" [disabled]="!config.StopAtRatio">
          </p-inputNumber>
        </div>

        <div class="field col-12 md:col-3">
          <label for="o-removeAtRatio">Remove At Ratio</label>
          <p-inputNumber inputId="o-removeAtRatio" [(ngModel)]="config.RemoveAtRatio" [min]="config.StopRatio"
                         [disabled]="!config.StopRatio && config.StopRatio != 0">
          </p-inputNumber>
        </div>

      </div>
      <div class="grid p-fluid">

        <div class="field col-12">
          <label for="o-downloadLocation">Download Location</label>
          <input pInputText inputId="o-downloadLocation" [(ngModel)]="config.DownloadLocation">
        </div>

      </div>
      <div class="grid p-fluid">
        <div class="field-checkbox col-12 md:col-3">
          <p-checkbox inputId="o-moveCompleted" binary="true" [(ngModel)]="config.MoveCompleted"
                      (ngModelChange)="unsetFields($event, 'MoveCompleted', 'MoveCompletedPath')">
          </p-checkbox>
          <label for="o-moveCompleted">Move Completed</label>

        </div>

        <div class="field col-12 md:col-9">
          <label for="o-moveCompletedPath">Moved Completed Path</label>
          <input pInputText inputId="o-moveCompletedPath" [(ngModel)]="config.MoveCompletedPath"
                 [disabled]="!config.MoveCompleted">
        </div>

      </div>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
