.t-session-status {
  width: 100%;
  background: #343e4d;
  color: rgba(255, 255, 255, 0.5);
  padding: 4px 1rem;
  display: flex;
  flex-direction: row;
  justify-content: right;

  font-weight: 500;
  font-size: .9rem;

  & > span {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  & i {
    opacity: .6;
    margin-right: 4px;
  }

  .t-torrent-icon {
    opacity: 0.65;
    margin-right: 6px;
    font-size: 0.95em;
    flex-shrink: 0;
  }

  /* torrent number uses default span styling now */

  .t-disk-free {
    opacity: 0.8;
  }
}


@media only screen and (max-width: 750px) {
  .t-session-status {
    justify-content: center;
  }
}
