name: Publish Docker Image

on:
  push:
    branches:
      - main
      - master

jobs:
  compile-frontend:
    name: Compile Frontend
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: npm
          cache-dependency-path: frontend/package-lock.json
      - run: |
          cd frontend
          npm install
          npm run build:prod
      - uses: actions/upload-artifact@v2
        with:
          name: frontend-dist
          path: frontend/dist/
          if-no-files-found: error

  docker-image:
    name: Build and Publish Docker Image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    needs: compile-frontend
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: frontend-dist
          path: frontend/dist
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.sha }}
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
